# NSGA-II on MO Knapsack (matches SEMO experiment/problem settings)

experiment_name: "MO_knapsack"

# ==============================
# Run Configuration
# ==============================
run:
  max_gens: 1e6
  stop_without_improvement_in_gens: 100
  eval_limit: 1e6
  use_noise_dependent_eval_limit: true
  eval_limit_for_noise:
    "0": 38392
    "1": 38392
    "2": 41066
    "3": 44477
    "4": 50728
    "5": 56851
    "6": 64079
    "7": 70736
    "8": 790344
    "9": 86078
    "10": 93638
  seed: 1
  num_runs: 10
  parallel: true
  verbose_rate: 50 # 0=silent, 1=every gen, n=every n gens

# ==============================
# MLflow Configuration
# ==============================
mlflow:
  tracking_uri: "data/mlruns"

# ==============================
# Hydra Configuration
# ==============================
hydra:
  mode: MULTIRUN
  sweeper:
    params:
      problem.fitness_params.noise_intensity: 0,1
  sweep:
    dir: data/outputs

# ==============================
# Algorithm Configuration
# ==============================
algo:
  name: NSGA2
  type: NSGA2
  init_args:
    _target_: src.algorithms.MOAlgorithms.NSGA2
    pop_size: 100
    cxpb: 0.9
    mutpb: 0.2

    mate_op: "deap.tools.cxTwoPoint"
    mutate_op: "deap.tools.mutFlipBit"

    mutate_params:
      indpb: 0.01


# ==============================
# Problem Configuration
# ==============================
problem:
  PID: f10_l-d_kp_20_879
  prob_name: knapsack
  prob_type: discrete
  opt_goal: maximise
  dimensions: null
  opt_global: null
  capacity: null
  mean_value: null
  mean_weight: null
  items_dict: null

  loader:
    _target_: src.problems.ProblemScripts.load_problem_KP
    filename: f10_l-d_kp_20_879

  fitness_fn: eval_noisy_kp_v1_mo_violation
  fitness_params:
    items_dict: null
    capacity: null
    noise_intensity: 0

  attr_function: binary_attribute
  weights: [1.0, -1.0]

  # will be overwritten by your resolve_config_dependencies() anyway for knapsack
  ref_point: [0, 269]
